// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

atom-panel.modal.tt-panel {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 900px;

  .block {
    padding: 0 10px 0 10px;
  }

  .translate {
    button {
      position: absolute;
      top: 7px;
      right: 16px;
      text-transform: uppercase;
    }

    progress {
      position: absolute;
      top: 16px;
      right: 126px;
    }

    height: 50px;
  }


  .panel {
    position: relative;
    margin-bottom: -40px;
    height: 40px;

    .picon {
      position: absolute;
      margin: 10px;
      text-indent: -9999px;
      width: 16px;
      height: 16px;
    }

    .source-lang-name {
      position: absolute;
      margin: 10px;
      text-transform: uppercase;
      right: 25px;
    }

    .dest-lang-name {
      position: absolute;
      margin: 10px;
      text-transform: uppercase;
      left: 0px;
    }

    .change-picon {
      right: 0px;
      background: url(atom://atom-tt/icons/change.svg);
      background-size: 16px 16px;
    }

    .delete-picon {
      background: url(atom://atom-tt/icons/delete.svg);
      background-size: 16px 16px;
    }

    .edit-picon {
      background: url(atom://atom-tt/icons/edit.svg);
      background-size: 16px 16px;
    }

    .list-picon {
      left: 0px;
      background: url(atom://atom-tt/icons/list.svg);
      background-size: 16px 16px;
    }

    .sound-picon {
      left: 30px;
      background: url(atom://atom-tt/icons/sound.svg);
      background-size: 16px 16px;
    }

    .sound-picon-right {
      right: 30px;
      background: url(atom://atom-tt/icons/sound.svg);
      background-size: 16px 16px;
    }

    .translate-picon {
      left: 60px;
      background: url(atom://atom-tt/icons/translate.svg);
      background-size: 16px 16px;
    }

    .translate-picon-right {
      right: 0px;
      background: url(atom://atom-tt/icons/translate.svg);
      background-size: 16px 16px;
    }
  }

  .source-lang.is-focused {
    border-color: #528bff;
    box-shadow: 0 0 0 1px #528bff;
  }

  .dest-lang, .source-lang {
    border: 1px solid #181a1f;
    border-radius: 3px;
    padding:  40px 10px 10px 10px;
    // border-color: @base-background-color;
    box-shadow: 0 0 0 1px @base-background-color;
  }

  .dest-lang {
    background-color: @background-color-highlight;
  }


  atom-text-editor::shadow {
    .gutter {
      display: none;
    }

    .cursor-line {
      background: none;
    }

    .cursor {
      border-color: red;
    }

    .indent-guide {
      box-shadow: none;
    }

    .gutter-container {
      display: none;
    }

    .indent-guide {
      box-shadow: none;
    }

  }
}


/*
atom-panel.modal.tt-panel {
  left: 0;
  margin: auto;
  padding: 20px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.4);

  atom-text-editor, :host {
    outline: none;
    background-color: #1b1d23;
    min-height: 320px;
    border-radius: 3px;
    padding: 1.2em;
  }

  .source-lang.is-focused {
    border-color: #528bff;
    box-shadow: 0 0 0 1px #528bff;
  }

  .dest-lang, .source-lang {
    border-color: @base-background-color;
    box-shadow: 0 0 0 1px @base-background-color;
  }

  atom-text-editor::shadow {

    .gutter-container {
      display: none;
    }

    .cursor {
      border-color: red;
    }

    .indent-guide {
      box-shadow: none;
    }

    .cursor-line {
      background: @base-background-color;
      background-color: #1b1d23;
    }

    .gutter {
      visibility: hidden;
    }
  }
}
*/
